html {
  background-color: rgb(21, 21, 21);
}

body {
  font-family: Arial, sans-serif;
  color: rgb(255, 255, 255);
  max-width: 500px;
  margin: auto;
  padding: 2rem;
}

#team {
  margin-top: 2rem;
}

.pokemon-card {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1rem;
  background: rgb(141, 152, 162);
  padding: 0.5rem 1rem;
  border-radius: 8px;
}

.pokemon-card img {
  width: 100px;
  height: 100px;
}
